@page
@model CoreWiki.Pages.Bohr_radiusModel
@{
    ViewData["Title"] = "Bohr_radius";
}

<h1>Bohr radius</h1>
<a href="http://en.citizendium.org/wiki/Bohr_radius">http://en.citizendium.org/wiki/Bohr_radius</a>
<hr />

