@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>IS7012 - Homework assignment</h1>
<p><a href="https://github.com/UC-Classes/IS7012/tree/master/CoreWiki">https://github.com/UC-Classes/IS7012/tree/master/CoreWiki</a></p>
<p>As a result of the Wikipedia outage, this assignment will be based on "Citizendium". A similar, but different site that was not the target 
    of the cyber attacks. I had researched wiki pages and had my assignment planned out, but when I went to access the pages I found the outage 
    with Wikipedia. This means you will get the running up pages from "Citizendium".</p>
<p>The below are three physics pages. They were intended to be some of my favorite quantum mechanics equations and discoveries. Unfortunatly, 
    Heisenberg uncertainty principle was not avalible so we have a simple Measurement in quantum mechanics in it's place.</p>
<hr />
<table>
    <tbody>
    <thead>
        <tr>
            <th><strong>Site Name</strong></th>
            <th><strong>Github Link</strong></th>
            <th><strong>External Link</strong></th>
        </tr>
    </thead>
        <tr>
            <td><strong><a href="Bohr_radius">Page 1 - Bohr's Radius</a></strong></td>
            <td><a href="https://github.com/UC-Classes/IS7012/tree/master/CoreWiki/CoreWiki/Pages/Bohr_radius.cshtml/">https://github.com/UC-Classes/IS7012/tree/master/CoreWiki/CoreWiki/Pages/Bohr_radius.cshtml/</a></td>
            <td><a href="http://en.citizendium.org/wiki/Bohr_radius">http://en.citizendium.org/wiki/Bohr_radius</a></td>
        </tr>
        <tr>
            <td><strong><a href="Planck_constant">Page 2 - Planck's Constant</a></strong></td>
            <td><a href="https://github.com/UC-Classes/IS7012/tree/master/CoreWiki/CoreWiki/Pages/Planck_constant.cshtml/">https://github.com/UC-Classes/IS7012/tree/master/CoreWiki/CoreWiki/Pages/Planck_constant.cshtml/</a></td>
            <td><a href="http://en.citizendium.org/wiki/Planck%27s_constant">http://en.citizendium.org/wiki/Planck%27s_constant</a></td>
        </tr>
        <tr>
            <td><strong><a href="Measurement_in_quantum_mechanics">Page 3 - Measurement in quantum mechanics</a></strong></td>
            <td><a href="https://github.com/UC-Classes/IS7012/tree/master/CoreWiki/CoreWiki/Pages/Measurement_in_quantum_mechanics.cshtml">https://github.com/UC-Classes/IS7012/tree/master/CoreWiki/CoreWiki/Pages/Measurement_in_quantum_mechanics.cshtml</a></td>
            <td><a href="http://en.citizendium.org/wiki/Measurement_in_quantum_mechanics">http://en.citizendium.org/wiki/Measurement_in_quantum_mechanics</a></td>
        </tr>
    </tbody>
</table>