@page
@model CoreWiki.Pages.Measurement_in_quantum_mechanicsModel
@{
    ViewData["Title"] = "Measurement_in_quantum_mechanics";
}

<h1>Measurement in quantum mechanics</h1>
<a href="http://en.citizendium.org/wiki/Measurement_in_quantum_mechanics">http://en.citizendium.org/wiki/Measurement_in_quantum_mechanics</a>
<hr />

