@page
@model CoreWiki.Pages.Measurement_in_quantum_mechanicsModel
@{
    ViewData["Title"] = "Measurement_in_quantum_mechanics";
}

    <div>
        <h1>Measurement in quantum mechanics</h1>
        <a href="http://en.citizendium.org/wiki/Measurement_in_quantum_mechanics">http://en.citizendium.org/wiki/Measurement_in_quantum_mechanics</a>
        <hr />

        <h1>Measurement in quantum mechanics</h1>
        <hr />
        <p>In <a href="http://en.citizendium.org/wiki/Quantum_mechanics">quantum mechanics</a>, <strong>measurement</strong> concerns the interaction of a macroscopic measurement apparatus with an observed quantum mechanical system, and the so-called "collapse" of the wavefunction upon measurement from a superposition of possibilities to a defined state. A review can be found in Zurek,[1] and in Riggs.[2] </p>
        <br />
    </div>

<div>
<h2>Formulation</h2>
<hr />
<p>Measurement in quantum mechanics satisfies these requirements:[2]:</p>
    <ul>
        <li>the wavefunction ψ (the solution to the Schrödinger equation) is a complete description of a system</li>
        <li>the wavefunction evolves in time according to the time-dependent Schrödinger equation</li>
        <li>every observable property of the system corresponds to some linear operator <em>O</em> with a number of eigenvalues</li>
        <li>any measurement of the property O results in an eigenvalue of O</li>
        <li>the probability that the measurement will result in the j-th eigenvalue is |(ψ, ψj)|<sup><span style="font-size: small;">2</span></sup>, where
        ψj corresponds to an eigenvector of O with the j-th eigenvalue, and it is assumed that |(ψ, ψ)|<sup><span style="font-size: small;">2</span></sup> = 1.</li>
        <li>a repetition of the measurement results in the same eigenvalue provided the system is not further disturbed between measurements. It is said that
        the first measurement has collapsed the wavefunction ψ to become the eigenfunction ψ<span style="font-size: small;">j</span>.</li>
    </ul>
    <p>Here (f, g) is shorthand for the <a href="http://en.citizendium.org/wiki/Scalar_product">scalar product</a> of <em>f</em> and <em>g</em>. For example,</p>

    <p><img src="http://en.citizendium.org/images/math/5/e/6/5e63b3ddbd668a45c95d8e11880e0915.png" /></p>

    <p>for a single-particle wavefunction in one dimension, with * denoting a complex conjugate, and the region in which the particle is confined.</p>
    <p>This description is a bit elliptic in that there may be several states corresponding to the eigenvalue <em>j</em>, requiring some further elaboration.</p>
</div>

<div>
    <h2>Paradox</h2>
    <hr />
    <p>
        The interpretation of measurement in quantum mechanics has led to a number of puzzles. The most famous illustration
        is <a href="http://en.citizendium.org/wiki/Quantum_mechanics#The_.22Schr.C3.B6dinger.27s_Cat.22_question">Schrdinger's cat</a>, in which
        a random quantum event like a radioactive decay is set up to kill a cat in a box. In the microscopic description, the cat is described by a superposition of
        "alive" and "dead" possibilities, and we have the peculiar result that all is in a state of suspense (the cat is neither alive nor dead, but a superposition of both)
        until we open the box to see what has happened.[3] Is this uncertainty about us (the observers), or the cat? Can opening a box decide life or death?
    </p>
</div>

<div>
    <h3>Notes</h3>
    <hr />

    <ol>
        <li>W. Hubert Zurek (July, 2003). "Decoherence, einselection, and the quantum origins of the classical". Rev Mod Phys vol. 75: pp. 715 ff.</li>
        <li>2.0 2.1 Peter J. Riggs (2009). “§2.3.1 The measurement problem”, Quantum Causality: Conceptual Issues in the Causal Theory of Quantum Mechanics.
        Springer, pp. 31 ff. ISBN 9048124026.</li>
        <li>Erwin Schrödinger (John D. Trimmer, translator) (Original published in German in Naturwissenschaften 1935). "The present situation in 
        quantum mechanics; a translation of Schrödinger's "cat paradox paper"". Proc American Phil Soc vol. 124: pp. 323-388.</li>
    </ol>
</div>