@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">U.S. Central Command Vactaion Tracker</h1>
    <p><img src="https://www.centcom.mil/Portals/6/Official_CENTCOM_Seal.png?ver=2016-07-26-155712-367" alt="CENTCOM" width="100" height="100" /></p>
    <p>U.S. Central Command has been providig all expenses paid trips to the middle east for over 20 years. &nbsp;They specialize in action packed tours to countries like Iraq, Syria and more. &nbsp;Please use this site to track your vactations to each locations. &nbsp;Trips are offered in three, six, nine and super saver year long trips.</p>
    <p>&nbsp;</p>
    <p>Contact your local Army Recruiter for more information.</p>
</div>

<div class="text-center">
    <p><a href="/CountryProfile?id=1">Click here</a> for USA Destinations</p>
    <p><a href="/CountryProfile?id=2">Click here</a> for Iraq Destinations</p>
    <p><a href="/CountryProfile?id=3">Click here</a> for Syria Destinations</p>
</div>


<br />

<div class="row">
    <div class="col-md-9">
        <table class="table" >
            <thead>
                <tr>
                    <th colspan="2">Dashboard Statistics</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Number of Destinations</td>
                    <td class="text-right">@Model.CountOfDestinations</td>
                </tr>
                <tr>
                    <td>Number of Destination Countries</td>
                    <td class="text-right">@Model.CountOfCountries</td>
                </tr>
                <tr>
                    <td>Number of Destinations With Dive Sites</td>
                    <td class="text-right">@Model.DestinationsWithDivesites</td>
                </tr>
                <tr>
                    <td>Number of Destinations With National Parks</td>
                    <td class="text-right">@Model.DestinationsWithParks</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>